/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  color: #74e63f;
  background: url('gold1.jpeg')
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}

.logo {
  display: flex;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #4ef038;
  transition: color 0.3s;
}

nav a:hover {
  color: #e91e63;
}

.feature-badge {
  position: absolute;
  right: 40px;
  top: 60px;
  background-color: #e91e63;
  padding: 6px 10px;
  font-size: 12px;
 
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(100vh - 80px);
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 16px;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto 30px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #e91e63;
  color: #221212;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #c2185b;
}
